* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 13px;
}

a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.banner {
    width: 100%;
    height: 15rem;
    position: relative;
}

.banner .frame {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.banner .box {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate3d(0, 0, 0);
}

.banner .trans {
    transition: left .6s ease;
}

.banner .box img {
    height: 100%;
    float: left;
}

.banner .controls {
    position: absolute;
    bottom: .6rem;
    right: 1rem;
}

.banner .controls a {
    width: 8px;
    height: 8px;
    background: #666;
    border-radius: 4px;
}

.banner .controls a.active {
    background: #f00;
}